footer {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    width: 1130px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 5px;
}

.link_footer {
    color: white;
    text-decoration: none;
}

.link_footer:hover {
    text-decoration: underline;
}

@media (max-width: 1160px) and (min-width: 790px) {
    .footer {
        width: 770px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 789px) {
    .footer {
        width: calc(100% - 10px);

        margin-left: 5px;

        margin-right: 5px;
        
    }
}