.homepage {
    width: 100vw;
    height: calc(100vh - 40px);
    background-color: #141827;
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body_homepage_section {
    width: 1130px;
    height: calc(100% - 50px);
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    background-color: #121422;
    border-radius: 16px;
    padding: 20px; /* Espace interne autour des éléments */
    padding-top: 80px;
    box-sizing: border-box; /* Inclure le padding dans la largeur et hauteur */
    display: grid; /* Utilisation de CSS Grid */
    grid-column-gap: 10px;
	grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: auto; /* Permet uniquement le scroll vertical */
    overflow-x: hidden;
    position: relative;
}

.body_homepage_article_header {
    width: 1090px;
    height: 40px;
    position: fixed;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-top: 30px;
    z-index: 10;
}

.body_homepage_article_header_title {
    background-color: #121422;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.quiz_card_article {
    width: 350px;
    height: 200px;
    background-color: #0D0F1D;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.quiz_card_article:hover {
    background-color: #0b0c19;
}
.quiz_card_article:hover .quiz_card_title {
    text-decoration: underline;
}

.quiz_card_title {
    font-weight: 600;
    color: white;
    margin: 20px;
    font-size: 16px;
}

.quiz_card_text {
    font-weight: 500;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
}

.quiz_card_tag_difficulty {
    width: 50px;
    height: 20px;
    background-color: #C7888C;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #0D0F1D;
    font-size: 11px;
}

.quiz_card_tag_order {
    width: 60px;
    height: 20px;
    background-color: #8DB5E6;
    position: absolute;
    bottom: 20px;
    left: 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #0D0F1D;
    font-size: 11px;
}

.quiz_card_img {
    width: 100%;
    height: calc(100% - 60px);
    border-radius: 0 0px 15px 15px;
    overflow: hidden;
    position: relative;
}

.quiz_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;         
}

@media (max-width: 1160px) and (min-width: 790px) {
    .body_homepage_section {
        width: 770px;
        height: calc(100% - 50px);
        margin-left: 50px;
        margin-right: 50px;
        padding: 20px;
        padding-top: 80px;
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 789px) {
    .body_homepage_section {
        width: calc(100% - 10px);
        height: calc(100% - 100px);
        margin-left: 5px;
        margin-bottom: 75px;
        margin-right: 5px;
        padding: 20px;
        padding-top: 80px;
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        grid-template-columns: 1fr;
        justify-items: center;
        position: relative;
    }

    .body_homepage_article_header {
        width: 1090px;
        height: 40px;
        position: fixed;
        top: 140px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding: 0px;
        padding-left: 20px;
        padding-top: 0px;
        z-index: 100;
    }
}