#icon1 {
    width: auto;
    height: 60%;
}

#icon2 {
    width: auto;
    height: 90%;
}

#icon3 {
    width: 20px;
    height: auto;
}

#icon4 {
    width: auto;
    height: 100%;
}

#icon5 {
    width: auto;
    height: 100%;
}